@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --sidebar-color: #0F172A;
    --navbar-color-light: #ffffff;
    --border-color: rgba(165, 165, 165, 0.329);
}

body{
    font-family: "Montserrat", sans-serif;
}
